<Alloy>
<Window title="Settings" id="settings">
	 <RightNavButton>
		            <Button id="logout" title="Logout" onClick="logout"/>
		        </RightNavButton>
				<ScrollView layout="vertical">
					
					<Label>I am Tangible on the Radar</Label>
					<Switch id="basicSwitch" value="true" />
					
				
				 
				 	<Button height="40" width="Ti.UI.FILL" onClick="uploadCoverPic">Cover Picture</Button>
					
				 	<Button height="40" width="Ti.UI.FILL" onClick="uploadPic">Picture</Button>
					<Label>Sex: Male/Female</Label>
					<Switch id="sexSwitch" value="true" />
				 	<TextField hintText="Name" height="40" width="Ti.UI.FILL" id="name"></TextField>
	        		<TextField hintText="Email" height="40" width="Ti.UI.FILL" id="email"></TextField>
	        		<TextField hintText="Short Description" height="40" width="Ti.UI.FILL" id="short_description"></TextField>
	        		
	        		<Label text="Want to change your password?"></Label>
	        		<TextField hintText="Password" passwordMask="true" height="40" width="Ti.UI.FILL" id="password"></TextField>
	        		<TextField hintText="Confirm Password" passwordMask="true" height="40" width="Ti.UI.FILL" id="password_confirmation"></TextField>
	        		<Button height="40" width="Ti.UI.FILL" onClick="editProfile">Submit</Button>	        		
	    		</ScrollView>
			</Window>
		</Alloy>