<Alloy>
<Window title="Settings">
				<View layout="vertical">
					 <RightNavButton>
		            <Button id="edut" title="Logout" onClick="logout"/>
		        </RightNavButton>
					<Label>I am Tangible on the Radar</Label>
					<Switch id="basicSwitch" value="true" />
					
				</View>
			</Window>
		</Alloy>