<Alloy>
<Window title="Settings">
	 <RightNavButton>
		            <Button id="logout" title="Logout" onClick="logout"/>
		        </RightNavButton>
				<View layout="vertical">
					
					<Label>I am Tangible on the Radar</Label>
					<Switch id="basicSwitch" value="true" />
					
				</View>
			</Window>
		</Alloy>